@page
@model LucrareFinalaAlixandroaieConstantin.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Profile</h1>
<form method="Post">
    <input type="submit" asp-page-handler="LogOut" value="LogOut" />
</form>
